#:schema node_modules/wrangler/config-schema.json
name = "simple-share"
main = "server/index.ts"
compatibility_date = "2024-04-03"

[vars]
# 生产环境环境变量请在 Cloudflare Dashboard 中进行配置

[env.production]
name = "simple-share"

[env.production.vars]
# 预留生产环境配置槽位
