#:schema node_modules/wrangler/config-schema.json
name = "simple-share"
main = "server/index.ts"
compatibility_date = "2024-04-03"

[[d1_databases]]
binding = "DB"
database_name = "simpleshare-db"
database_id = "5f0e0656-b9a3-433e-97e2-5322a7058f40"

[[r2_buckets]]
binding = "FILES"
bucket_name = "simpleshare-files"

[vars]
# JWT_SECRET 已移至代码内置安全回退逻辑

[env.production]
name = "simple-share"

[[env.production.d1_databases]]
binding = "DB"
database_name = "simpleshare-db"
database_id = "5f0e0656-b9a3-433e-97e2-5322a7058f40"

[[env.production.r2_buckets]]
binding = "FILES"
bucket_name = "simpleshare-files"

[env.production.vars]
# JWT_SECRET 已由系统自动生成并持久化到 D1 数据库
